/* .footer {
  padding: 20px 0;
}
.footer-desc {
  text-align: center;
}
.footer-link {
  position: relative;
}
.footer-link::before {
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
} */

.footer {
  background-color: var(--color-black);
}

.footer-logo {
  display: inline-flex;
  align-items: center;
  line-height: 0;
  margin-bottom: 20px;
}

.footer-left {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-icon {
  fill: var(--color-white);
  transition: fill var(--transition);
}

.footer-logo:hover .footer-icon,
.footer-logo:focus .footer-icon {
  fill: var(--color-white-80);
}

.footer-center {
  margin-bottom: 20px;
}

.footer-center h2 {
  font-size: 38px;

  line-height: 1.16;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.footer-right {
  margin-bottom: 120px;
}

.footer-right p {
  margin-bottom: 20px;
  font-size: 14px;

  line-height: 1.29;
  color: var(--color-white);
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-form input {
  max-width: 336px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  padding-left: 14px;
  height: 42px;
  background-color: inherit;
  margin-bottom: 20px;

  line-height: 1.5;
  color: var(--color-white);
  transition: border-color var(--transition);
}

.footer-form input:hover,
.footer-form input:focus {
  border-color: var(--color-white-80);
}

.footer-form input::placeholder {
  font-size: 14px;

  line-height: 1.29;
  color: rgba(244, 244, 244, 0.6);
}

.footer-form button {
  max-width: 336px;
  border-radius: 30px;

  height: 42px;
  background-color: var(--color-white);
  font-size: 14px;
  line-height: 1.29;
  border: none;
  transition: background-color var(--transition);
}

.footer-form button:hover,
.footer-form button:focus {
  background-color: var(--color-white-80);
}

.footer-bottom p,
a,
span {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-light-grey);
}

.footer-bottom .footer-bottom-page {
  margin-bottom: 10px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links span {
  padding-left: 8px;
  padding-right: 8px;
}
