.hero {
  margin-bottom: 40px;
}
.hero-title {
  font-weight: 400;
  font-size: 38px;
  line-height: 1.158;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.sun-icon {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  transform: translateY(4px);
}
.hero-title span {
  font-style: italic;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  margin-bottom: 20px;
}

.hero-container {
  position: relative;
}
.tag-container {
  display: block;
}
.hero-mini-image {
  display: none;
}
.hero-tags {
  display: flex;

  gap: 8px;
  justify-content: flex-end;
}
.hero-tag {
  border: 1px solid #242424;
  border-radius: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  padding: 4px 12px;
}

.hero-picture {
  display: block;
  border-radius: 60px;
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 64px;
  }
  .hero-title {
    font-weight: 400;
    font-size: 74px;
    line-height: 1;

    max-width: 700px;
    margin-bottom: 20px;
  }
  .sun-icon {
    width: 59px;
    height: 59px;
  }
  .hero-subtitle {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
    max-width: 530px;
  }
  .hero-picture {
    margin-bottom: 16px;
  }
  .hero-tag {
    border: 1px solid #242424;
    border-radius: 30px;
    padding: 4px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .hero-mini-image {
    display: block;
    border-radius: 20px;
    width: 168px;
    height: 100px;
    margin-left: auto;
    margin-bottom: 32px;
  }
  .hero-container {
    position: relative;
  }
  .tag-container {
    position: absolute;
    top: 0;
    right: 32px;
    display: block;
  }
  .hero-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 200px;
    margin-left: auto;
  }
  .hero-picture {
    margin-bottom: 0px;
  }
}
