/* Styles for Mobile devices */
.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* Styles for large Mobile devices */
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
