.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--color-black);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--transition), visibility var(--transition);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .modal-overlay.is-open {
    display: none;
  }
}

.modal-content {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.modal-close-btn {
  align-self: flex-end;

  border: none;
  background-color: transparent;
  line-height: 0;
  padding: 0;
}

.burger-icon {
  stroke: var(--color-white);
}
