.rating-stars {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.stars span {
  font-size: 22px;
  color: #555;
  cursor: pointer;
  transition: color 0.2s;
}

.stars span.active {
  color: #ffcc00;
}

.rating-email,
.rating-text {
  width: 100%;
  background: transparent;
  border: 1px solid #555;
  padding: 10px 14px;
  color: white;
  border-radius: 14px;
  margin-bottom: 16px;
  outline: none;
}

.rating-text {
  height: 90px;
  resize: none;
}

.rating-send {
  width: 100%;
  background: white;
  color: black;
  padding: 12px 0;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
}
