.overlay-rating .modal {
  max-width: 335px;
}

.rating-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rating-form-stars-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rating-form-stars-title {
  font-weight: 400;
  font-size: 12px;
  color: rgba(244, 244, 244, 0.4);
  margin: 0;
}

.rating-form-value-stars {
  display: flex;
  align-items: center;
  gap: 2px;
}

.rating-form-value {
  min-width: 24px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

.rating-form-stars {
  display: flex;
  flex-direction: row-reverse;
  /* gap: 2px; */
  /* width: 120px; */
  justify-content: flex-end;
}

.rating-form-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.rating-form-radio + label {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform var(--transition), filter var(--transition);
  margin-right: 2px;
}

.rating-form-radio:hover + label svg,
.rating-form-radio:hover ~ label {
  fill: var(--color-yellow);
  filter: brightness(1.2);
}

.rating-form-radio:checked + label svg,
.rating-form-radio:checked ~ label svg {
  fill: var(--color-yellow);
  filter: brightness(1.3);
}

.rating-form-stars label:hover svg,
.rating-form-stars label:hover ~ label svg {
  fill: var(--color-yellow);
  filter: brightness(1.3);
}

.rating-form-radio:active + label {
  transform: scale(0.95);
  transition: transform var(--transition);
}

.rating-form-group-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rating-form-group {
  display: flex;
  flex-direction: column;
}

.rating-form-input,
.rating-form-textarea {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  background-color: transparent;
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.29;
  transition: border-color var(--transition);
  cursor: text;
}

html[data-theme='dark'] .rating-form-input,
html[data-theme='dark'] .rating-form-textarea {
  border-color: var(--color-white-10);
  color: var(--color-black);
}

.rating-form-textarea {
  height: 93px;
  resize: none;
  border-radius: 15px;
}

.rating-form-input:focus,
.rating-form-textarea:focus {
  border-color: var(--color-white-80);
  transition: border-color var(--transition);
}

html[data-theme='dark'] .rating-form-input:hover,
html[data-theme='dark'] .rating-form-input:focus,
html[data-theme='dark'] .rating-form-textarea:hover,
html[data-theme='dark'] .rating-form-textarea:focus {
  border-color: var(--color-white-80);
  color: var(--color-black);
}

.rating-form-input::placeholder,
.rating-form-textarea::placeholder {
  color: var(--color-white-60);
}

.rating-form-btn {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 12px 0;
  font-size: 14px;
  width: 100%;
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition);
}

.rating-form-btn:hover,
.rating-form-btn:focus {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

@media screen and (min-width: 768px) {
  .overlay-rating .modal {
    max-width: 430px;
  }

  .rating-modal {
    max-width: 430px;
    padding: 40px;
  }

  .rating-form {
    gap: 32px;
  }

  .rating-form-group-container {
    gap: 16px;
  }

  .modal-close-btn {
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
  }

  .modal-close-icon {
    width: 28px;
    height: 28px;
    stroke-width: 2px;
  }
}

.card-icon-star {
  fill: var(--color-white-20);
}
