.overlay.is-open {
  background-color: rgba(4, 4, 4, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #242424;
  border-radius: 20px;
  width: 335px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  color: #f4f4f4;
}

.modal-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.modal-img-wrapper {
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 20px;
  width: 295px;
  height: 258px;
}

.modal-title {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
}

.info-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-grid-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(244, 244, 244, 0.4);
  margin-bottom: 4px;
}

.info-grid-value {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-transform: capitalize;
}

.modal-details {
  display: flex;
  flex-direction: column;
}

.modal-description {
  color: rgba(244, 244, 244, 0.4);
  font-size: 14px;
  line-height: 1.29;
}

.modal-rating {
  display: flex;
  align-items: center;
}

.info-grid {
  border-top: 1px solid rgba(244, 244, 244, 0.2);
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-btn {
  background: #f4f4f4;
  border-radius: 30px;
  padding: 12px 83px;
  margin-top: 40px;
  width: 295px;
  height: 42px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #242424;
}

/* stars */

.modal-rating {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.modal-rating-stars {
  font-size: 20px;
  letter-spacing: 2px;
}

.modal-rating-stars .full {
  color: rgba(238, 161, 12, 1);
}

.modal-rating-stars .empty {
  color: rgba(244, 244, 244, 0.2);
}

@media screen and (max-width: 767px) {
  .modal-details {
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 708px;
    display: flex;
    gap: 32px;
    padding: 32px;
  }

  .modal-img-wrapper {
    width: 270px;
    height: 259px;
  }

  .modal-details {
    max-width: 338px;
  }

  .modal-title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 8px;
  }

  .modal-rating {
    margin-bottom: 16px;
    gap: 2px;
  }
  .info-grid {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .modal-btn {
    margin-top: 64px;
  }
}
