.nav {
  display: none;
}

.nav-link {
  line-height: 1.5;
  color: var(--color-white);
  display: block;
  transition: color var(--transition);
}

@media screen and (max-width: 767px) {
  .nav-mob-menu {
    display: block;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
    background: var(--color-black);
    border-radius: var(--border-radius-60);
    padding: 8px 50px;
    width: 233px;
  }

  .nav-list {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .nav-link {
    display: block;
    padding: 6px 12px;
    border-radius: 30px;
    line-height: 1.5;
    color: var(--color-white);
    position: relative;
    z-index: 1;
  }

  .nav-indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    border-radius: 30px;
    background: var(--color-white);
    z-index: 0;
    transition: transform 0.25s ease, width 0.25s ease;
    pointer-events: none;
  }

  .nav-link.is-current {
    color: var(--color-black);
  }

  .nav-link:not(.is-active):hover,
  .nav-link:not(.is-active):focus,
  .nav-link.is-active:not(.is-current):hover,
  .nav-link.is-active:not(.is-current):focus {
    color: var(--color-black);
  }
}
