body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
  border-radius: 12px;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-grey-10);
}
