.theme-switch {
  position: relative;
  width: 70px;
  height: 40px;
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: var(--color-black);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--color-black);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-30);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--color-white);
}

.slider::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-black);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.checkbox:checked ~ .slider {
  background-color: var(--color-black);
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: var(--color-black);
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--color-white);
  box-shadow: inset 12px -4px 0px 0px var(--color-white);
}
