<div class="overlay modal-backdrop is-hidden" data-rating-modal>
  <div class="modal rating-modal">
    <button type="button" class="modal-close-btn" data-rating-close>
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <form class="rating-form">
      <div class="rating-form-stars-container">
        <p class="rating-form-stars-title">Rating</p>
        <div class="rating-form-value-stars">
          <div class="rating-form-value">0.0</div>
          <div class="rating-form-stars">
            <input
              type="radio"
              name="rating"
              value="5.0"
              class="rating-form-radio"
              id="star5"
            />
            <label for="star5"></label>

            <input
              type="radio"
              name="rating"
              value="4.0"
              class="rating-form-radio"
              id="star4"
            />
            <label for="star4"></label>

            <input
              type="radio"
              name="rating"
              value="3.0"
              class="rating-form-radio"
              id="star3"
            />
            <label for="star3"></label>

            <input
              type="radio"
              name="rating"
              value="2.0"
              class="rating-form-radio"
              id="star2"
            />
            <label for="star2"></label>

            <input
              type="radio"
              name="rating"
              value="1.0"
              class="rating-form-radio"
              id="star1"
            />
            <label for="star1"></label>
          </div>
        </div>
      </div>

      <div class="rating-form-group-container">
        <div class="rating-form-group">
          <input
            type="email"
            id="rating-email"
            class="rating-form-input"
            placeholder="Email"
            required
          />
        </div>

        <div class="rating-form-group">
          <textarea
            id="rating-comment"
            class="rating-form-textarea"
            placeholder="Your comment"
            required
          ></textarea>
        </div>
      </div>

      <button type="submit" class="modal-btn rating-form-btn">Send</button>
    </form>
  </div>
</div>
