<div class="search-bar">
  <div class="search-bar-wrap">
    <input
      class="search-bar-input"
      id="search"
      name="search"
      type="text"
      placeholder="Search"
    />
    <svg class="search-bar-icon" width="14" height="14" aria-hidden="true">
      <use href="img/sprite.svg#icon-search"></use>
    </svg>
  </div>
  <!-- <button class="search-bar-reset-btn visually-hidden">
    <svg
      class="search-bar-icon-close"
      width="24"
      height="24"
      aria-hidden="true"
    >
      <use href="img/sprite.svg#icon-close"></use>
    </svg>
  </button> -->
</div>
