<section>
  <div class='container'>
    <div class='exercises-title-thumb'>
      <h2 class='exercises-title'>Exercises</h2>
      <div class='exercises-thumb-btn'>
        <button type="button" data-type="Muscles">Muscles</button>
        <button type="button" data-type="Body%20parts">Body parts</button>
        <button type="button" data-type="Equipment">Equipment</button>
      </div>
    </div>

    <div class='container-grid'>
      <ul class='exercises-list'>
      </ul>

      <!-- <nav class="pagination" aria-label="Exercises pages">
        <button class="pagination-item pagination-item-active" type="button">
          1
        </button>
        <button class="pagination-item" type="button">
          2
        </button>
      </nav> -->
      <nav class="pagination" aria-label="Exercises pages">

      </nav>


      <div class="quote-wrapper">
        <div class="quote-card">
          <div class="quote-card-icon">
            <span>🏃‍♂️</span>
          </div>

          <div class="quote-card-body">
            <div class="quote-card-header">
              <h3 class="quote-card-title">Quote of the day</h3>
              <span class="quote-card-mark">❝</span>
            </div>

            <p class="quote-card-text">
              A lot of times I find that people who are blessed with the most talent
              don't ever develop that attitude, and the ones who aren't blessed in that
              way are the most competitive and have the biggest heart.
            </p>

            <p class="quote-card-author">Tom Brady</p>
          </div>
        </div>

        <div class='quote-img'></div>

        <div class="quote-suggest">
          <div class="quote-card quote-card-background">
            <div class="quote-card-icon">
              <span>🏃‍♂️</span>
            </div>

            <div class="quote-card-body">
              <div class="quote-card-header quote-card-wrap">
                <h3 class="quote-card-title quote-card-color quote-title-mr">110 min</h3>
                <p class='quote-card-subtitle'>Daily norm of sports</p>
              </div>

              <p class="quote-card-text quote-card-color">
                The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical
                activity throughout
                the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day?
                While it might
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>