<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <!--left block-->
      <div class="footer-left">
        <a class="footer-logo" href="index.html">
          <svg class="footer-icon" width="132" height="24">
            <use href="img/sprite.svg#icon-logo"></use>
          </svg>
        </a>

        <load src="components/social.html" location="footer" />
      </div>
      <div class="right-and-center-block">
        <!--center block-->
        <div class="footer-center">
          <h2>Transforming your body shape with us</h2>
        </div>

        <!--right block-->
        <div class="footer-right">
          <p>Subscribe and learn about new exercises!</p>
          <form class="footer-form">
            <input name="email" type="email" placeholder="Email" />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>

    <!--bottom block-->
    <div class="footer-bottom">
      <p class="footer-bottom-page">Your Energy. All rights reserved.</p>
      <div class="footer-links">
        <div>
          <a href="#">Privacy Policy</a>
          <span>/</span>
          <a href="#">Terms of Service</a>
        </div>
        <p>©2023</p>
      </div>
    </div>
  </div>
</footer>
