/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./utils/reset.css');
@import url('./utils/base.css');
@import url('./utils/variables.css');

/* Component styles */
@import url('./components/anchor-button.css');
@import url('./components/animations.css');
@import url('./components/button.css');
@import url('./components/container.css');
@import url('./components/modal-exercise.css');
@import url('./components/modal-rating.css');
@import url('./components/navigation.css');
@import url('./components/social.css');
@import url('./components/overlay.css');
@import url('./components/gallery.css');
@import url('./components/pagination.css');
@import url('./components/mob-menu.css');
@import url('./components/scrollbar.css');

/* Layout style */
@import url('./layout/header.css');
@import url('./layout/hero.css');
@import url('./layout/exercises.css');
@import url('./layout/favorites.css');
@import url('./layout/footer.css');
